<div ng-controller="EditableListCtrl">
    <md-divider></md-divider>
    <md-card class="input-container">
        <md-input-container class="md-icon-float md-block name-input">
            <!-- Use floating label instead of placeholder -->
            <label>New ToDo Name</label>
            <md-icon md-svg-src="../img/ic_playlist_add_check_black_24px.svg"></md-icon>
            <input ng-model="newItem.name" type="text" md-maxlength="20">
        </md-input-container>
        <md-input-container class="md-icon-float md-block name-input">
            <!-- Use floating label instead of placeholder -->
            <label>New ToDo Description</label>
            <textarea ng-model="newItem.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-button ng-disabled="newItem.name.length === 0 || newItem.name.length > 20" md-no-ink class="md-primary create-btn" ng-click="create()">CREATE</md-button>
        <md-button ng-disabled="newItem.name.length === 0" md-no-ink class="md-primary clear-btn" ng-click="clear()">CLEAR</md-button>
    </md-card>
    <md-list ng-cloak class="todo-list">
        <md-subheader class="md-no-sticky">ToDo List</md-subheader>
        <md-list-item class="bold-text list-item">
            <p style="text-align: left">Name</p>
            <p style="text-align: center">Description</p>
            <p style="text-align: right">Done</p>
        </md-list-item>
        <md-list-item ng-repeat="item in items track by $index" class="list-item disable-md-clickable">
            <p>{{ item.name }} </p>
            <p>{{ item.description }} </p>
            <div style="margin-top: 12px;" ng-repeat="v in [0]"> <!-- workaround for click event bubbling up on list item -->
                <md-checkbox ng-model="item.done" ng-change="update(item)" aria-label="done"></md-checkbox>
            </div>
            <md-icon ng-show="item.done" md-svg-src="../img/ic_delete_black_24px.svg" ng-click="delete($index)" class="delete-icon"></md-icon>
        </md-list-item>
    </md-list>
</div>